main {
    margin: 0 auto;
    text-align: left;
    width: 600px;
}
.preserve {
    white-space: pre;
}
td {
    padding: 0;
}
tr {
    background: #eee;
    margin: 25px;
    display: block;
}
table {
    width: 100%;
}
main ul { margin: 0; padding: 0; }
main ul li {
    display: list-item;
    clear: both;
    margin-left: 25px;
    list-style-type: square;
}
article:after { display: table; clear: both; content: "" }